@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.center {
  display: inline-block;
}

caption {
  font-size: 14pt;
  font-weight: bold;
}
table {
  border: 1px solid #000;
}

th, td {
  padding: 2px;
  border: 0;
}

#reminder {
  display: none;
}