@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #FFF;
  background-color: #000;
  font-size: 60pt;
  font-weight: 700;
}

@media screen and (max-width: 400px) {
  img {
    width: 90vw;
    height: 90vh;
  }
}

p, img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  pointer-events: none;
}

img {
  cursor: pointer;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
/* Color palette of cookie: #B48C54 #9C8C6C #946434 #542C2C #C4A46C */
